html, body {
    margin: 0;
    padding: 0px;
    color: #FFF;
    background: #000;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

img[src=""] {
    display: none;
}

#title {
    height: 50px;
    width: 600px;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    background: #000;
    margin: 1px;
    outline: none;
    border: 2px solid #444;
    border-radius: 25px;
}

#title:focus {
    margin: 0;
    border: 3px solid #666;
}

#comparisons {
    margin: auto;
    width: 900px;
    padding: 10px 0;
}

.comparison {
    margin: 20px 0;
    /*height: 220px;*/
    border: 2px solid #444;
    border-radius: 100px;
    text-align: left;
}

.number {
    cursor: row-resize;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    height: 200px;
    width: 50px;
    line-height: 200px;
    font-size: 120px;
    color: #666;
}

.large-number {
    font-weight: bold;
    font-size: 60px;
}

.images {
    display: inline-block;
    width: 752px;
    min-height: 220px;
}

.image {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    width: 356px;
    height: 200px;
    border: 5px dashed #444;
    text-align: center;
}

.image.hover {
    border: 5px dashed #666;
}

.image > img {
    position: absolute;
    top: 0;
    left: 0;
    margin: -5px;
    width: 356px;
    height: 200px;
    z-index: 2;
    cursor: move;
}

.image > strong {
    display: inline-block;
    margin-top: 60px;
    color: #CCC;
}

.image > em {
    color: #999;
}

.button {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 30px;
    border: 3px solid #444;
}

.button:hover {
    border: 3px solid #666;
}

.button > button {
    position: relative;
    width: 180px;
    height: 30px;
    color: #CCC;
    background: #000;
    border: none;
    font-weight: bold;
    font-size: 14px;
}


.button > input {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    width: 180px;
    max-width: 140px;
    height: 30px;
}

.image > input {
    position: absolute;
    display: none;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 344px;
    color: #CCC;
    background: #444;
    border: 0;
    text-align: center;
}

.image > input:hover {
    background: #666;
}

.cols-3 .images {
    line-height: 220px;
}
.cols-3 .image,
.cols-3 .image > img {
    width: 230px;
    height: 130px;
    line-height: normal;
}
.cols-3 .image > strong {
    margin-top: 20px;
}
.cols-3 .image > input {
    width: 218px;
}
.cols-many .image,
.cols-many .image > img {
    width: 168px;
    height: 95px;
    font-size: 0.85em;
}
.cols-many .image > strong {
    margin-top: 10px;
}
.cols-many .image > input {
    width: 156px;
}
.cols-many .button,
.cols-many .button > button,
.cols-many .button > input {
    width: 140px;
    height: 20px;
    font-size: 10px;
}

.remove {
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
    height: 200px;
    width: 40px;
    color: #444;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.remove:hover {
    color: #666;
    cursor: pointer;
}

#add {
    margin: 10px auto;
    height: 30px;
    width: 900px;
    color: #CCC;
    background: #444;
    border-radius: 15px;
    line-height: 30px;
    font-size: 24px;
}

#add:hover {
    background: #666;
    cursor: pointer;
}

#rename {
    margin: 20px auto;
    height: 40px;
    width: 900px;
    border: 2px solid #444;
    border-radius: 100px;
}

#rename > h3 {
    display: inline-block;
    margin: 0;
    color: #666;
    line-height: 40px;
}

#rename > input {
    vertical-align: top;
    width: 356px;
    margin: 10px;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #CCC;
    background: #444;
}

#rename > input:hover {
    background: #666;
}

#swap {
    margin: 20px auto;
    height: 30px;
    width: 900px;
    color: #CCC;
    background: #444;
    border-radius: 15px;
    line-height: 30px;
    font-size: 24px;
}

#swap:hover {
    background: #666;
    cursor: pointer;
}

#submit {
    margin: 0 auto 300px;
    height: 50px;
    width: 600px;
    line-height: 46px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background: #999;
    border-radius: 25px;
}

#submit:hover {
    background: #CCC;
    cursor: pointer;
}

#upload {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    margin: 80px auto;
    width: 900px;
    background: #111;
    border-radius: 25px;
}

#upload > h1 {
    width: 860px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#upload > img {
    height: 500px;
    width: 889px;
}

#upload > progress {
    width: 889px;
    margin-bottom: 20px;
}

#hide {
    display: none;
    width: 160px;
    height: 48px;
    color: #CCC;
    background: #000;
    font-weight: bold;
    font-size: 28px;
    border: 3px solid #444;
    margin-bottom: 20px;
}

#hide:hover {
    border: 3px solid #666;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 6px;
    color: #666;
    font-size: 14px;
    line-height: 30px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#footer a, #footer a:visited {
    color: #999;
}

#footer a:hover {
    color: #CCC;
}

#magic {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    background: rgba(0,0,0,0.6);
}

#magic > span {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vmax;
    line-height: 4vmax;
}

#wizard {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    background: rgba(0,0,0,0.8);
}

#wizard > progress {
    width: 1070px;
    margin: 20px auto;
}

#wizard > div {
    width: 1070px;
    margin: auto;
}

#wizard img {
    width: 178px;
    height: 100px;
}


/* Beta funtimes */
.beta-enabled {
    -webkit-animation: rainbow 2s infinite;
        -ms-animation: rainbow 2s infinite;
         -o-animation: rainbow 2s infinite;
            animation: rainbow 2s infinite;
}

.beta-enabled body,
.beta-enabled #title,
.beta-enabled button {
    background: transparent;
}

#beta {
    box-sizing: border-box;
    display: none;
    position: relative;
    width: 900px;
    margin: 20px auto;
    border: 4px dashed #F60;
    border-radius: 10px;
    padding: 24px;
    color: #F60;
}

.beta-enabled #beta {
    display: block;
}

#beta a {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 18px;
    font-weight: bold;
}
#beta a:hover {
    top: 6px;
    right: 10px;
    font-size: 26px;
    cursor: pointer;
}

#beta h3 {
    margin-top: 0;
}

#beta audio {
    display: block;
    width: 100%;
}

#beta div {
    margin: 10px auto;
    height: 30px;
    width: 800px;
    color: #CCC;
    background: #444;
    border-radius: 15px;
    line-height: 30px;
    font-size: 24px;
}

#beta div:hover {
    background: #666;
    cursor: pointer;
}

@-webkit-keyframes rainbow {
      0% { background-color: hsl(  0, 100%, 20%); }
     10% { background-color: hsl( 36, 100%, 20%); }
     20% { background-color: hsl( 72, 100%, 20%); }
     30% { background-color: hsl(108, 100%, 20%); }
     40% { background-color: hsl(144, 100%, 20%); }
     50% { background-color: hsl(180, 100%, 20%); }
     60% { background-color: hsl(216, 100%, 20%); }
     70% { background-color: hsl(252, 100%, 20%); }
     80% { background-color: hsl(288, 100%, 20%); }
     90% { background-color: hsl(324, 100%, 20%); }
    100% { background-color: hsl(360, 100%, 20%); }
}
@-ms-keyframes rainbow {
      0% { background-color: hsl(  0, 100%, 20%); }
     10% { background-color: hsl( 36, 100%, 20%); }
     20% { background-color: hsl( 72, 100%, 20%); }
     30% { background-color: hsl(108, 100%, 20%); }
     40% { background-color: hsl(144, 100%, 20%); }
     50% { background-color: hsl(180, 100%, 20%); }
     60% { background-color: hsl(216, 100%, 20%); }
     70% { background-color: hsl(252, 100%, 20%); }
     80% { background-color: hsl(288, 100%, 20%); }
     90% { background-color: hsl(324, 100%, 20%); }
    100% { background-color: hsl(360, 100%, 20%); }
}
@-o-keyframes rainbow {
      0% { background-color: hsl(  0, 100%, 20%); }
     10% { background-color: hsl( 36, 100%, 20%); }
     20% { background-color: hsl( 72, 100%, 20%); }
     30% { background-color: hsl(108, 100%, 20%); }
     40% { background-color: hsl(144, 100%, 20%); }
     50% { background-color: hsl(180, 100%, 20%); }
     60% { background-color: hsl(216, 100%, 20%); }
     70% { background-color: hsl(252, 100%, 20%); }
     80% { background-color: hsl(288, 100%, 20%); }
     90% { background-color: hsl(324, 100%, 20%); }
    100% { background-color: hsl(360, 100%, 20%); }
}
@keyframes rainbow {
      0% { background-color: hsl(  0, 100%, 20%); }
     10% { background-color: hsl( 36, 100%, 20%); }
     20% { background-color: hsl( 72, 100%, 20%); }
     30% { background-color: hsl(108, 100%, 20%); }
     40% { background-color: hsl(144, 100%, 20%); }
     50% { background-color: hsl(180, 100%, 20%); }
     60% { background-color: hsl(216, 100%, 20%); }
     70% { background-color: hsl(252, 100%, 20%); }
     80% { background-color: hsl(288, 100%, 20%); }
     90% { background-color: hsl(324, 100%, 20%); }
    100% { background-color: hsl(360, 100%, 20%); }
}
