html, body {
    margin: 0;
    padding: 0px;
    color: #FFF;
    background: #000;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

img[src=""] {
    display: none;
}

h1 {
    margin-bottom: 0.1em;
}

#download {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
#download:hover {
    color: #444;
}

#selector img {
    height: 60px;
    margin: 10px;
}
#selector img:hover {
    margin: 8px;
    border: 2px solid #999;
}

.subselect {
    box-sizing: border-box;
    display: inline-block;
    background: #444;
    border-radius: 15px;
    height: 30px;
    padding: 1px 15px;
    margin: 5px;
}

.subselect:hover {
    background: #666;
    cursor: pointer;
}

.subselect .number {
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
}

.subselect .name {
    vertical-align: middle;
    font-size: 14px;
}

#comparison {
    position: relative;
    display: inline-block;
    text-align: left;
    background: no-repeat;
    margin-top: 60px;
}

#comparison:hover img {
    opacity: 0;
}

#filename {
    position: absolute;
    top: -60px;
    height: 60px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hover {
    display: none;
}

#comparison:hover #main {
    display: none;
}

#comparison:hover #hover {
    display: inline;
}

#preload {
    margin: 100px 0;
}

#preload img {
    height: 80px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 6px;
    color: #666;
    font-size: 14px;
    line-height: 30px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#footer a, #footer a:visited {
    color: #999;
}

#footer a:hover {
    color: #CCC;
}
